@import "@guillaumemmm/marquedefabrique/dist/css/variables.css";
@import "@guillaumemmm/marquedefabrique/dist/css/reset.css";
@import "@guillaumemmm/marquedefabrique/dist/css/kit.css";

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./assets/fonts/IBMPlexSans-VariableFont_wdth,wght.woff2") format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("./assets/fonts/IBMPlexSans-Italic-VariableFont_wdth,wght.woff2") format('woff2');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

body {
    --line-height: 1.5;

    background-color: var(--mdf-color-background-default);
    min-height: 100vh;
    font-family: "IBM Plex Sans", "system-ui", "Arial";
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    line-height: var(--line-height);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

[data-theme="dark"] {
    .header .subtitle {
        color: var(--mdf-color-text-muted);
    }
}

@media (prefers-color-scheme: dark) {
    .header .subtitle {
        color: var(--mdf-color-text-muted);
    }
}

.header {
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--mdf-color-background-brand-secondary), transparent);
    position: relative;

    .title-container {
        max-width: 1200px;
        animation: fade-in 0.5s ease-out both;

        @media (prefers-reduced-motion: reduce) {
            &::-webkit-progress-value {
                animation: none;
            }
        }
    }

    .title {
        line-height: 1.2;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        padding: 0 1rem;
    }

    .subtitle {
        color: var(--mdf-color-text-muted);
        font-size: 1.5rem;
        font-weight: 400;
        display: block;
        text-align: center;
        max-width: 650px;
        color: #43474d;
        margin: 2rem auto 0 auto;
        padding: 0 1rem;
    }

    .illustrations {
        overflow: hidden;
        pointer-events: none;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: radial-gradient(circle, var(--mdf-color-border-brand-secondary) 1px, transparent 1px);
        background-size: cover;
        background-position: center;
        background-size: 12px 12px;
        -webkit-mask-image: radial-gradient(ellipse at center, transparent 30%, black 100%);
        mask-image: radial-gradient(ellipse at center, transparent 30%, black 100%);


        top: 0;
        left: 0;

        .fade {
            width: 100%;
            height: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: linear-gradient(transparent, var(--mdf-color-background-default));
        }

        --size: 50vh;

        .fade-top-left,
        .fade-top-right {
            z-index: 2;
            width: var(--size);
            height: var(--size);
            position: absolute;
            top: calc(-0.5 * var(--size));
            left: calc(-0.5 * var(--size));
            background: radial-gradient(var(--mdf-color-background-brand-secondary) 30%, transparent);
            animation: fade-in 1s ease-out both;

            @media (prefers-reduced-motion: reduce) {
                &::-webkit-progress-value {
                    animation: none;
                }
            }
        }

        .fade-top-right {
            left: unset;
            right: calc(-0.5 * var(--size));
        }

        /* opacity: 0.9;
        pointer-events: none;

        svg {
            position: absolute;
            width: 100px;
            height: 100px;
        }

        svg:nth-child(1) {
            top: 0;
            left: 20%;
            opacity: 0.3;
        }

        svg:nth-child(2) {
            right: 10%;
            bottom: 0;
            opacity: 0.5;
        }

        svg:nth-child(3) {
            left: 50px;
            bottom: 0;
            opacity: 0.4;
        }

        svg:nth-child(4) {
            left: 20px;
            bottom: 50%;
            width: 20px;
            height: 20px;
            opacity: 0.5;
            transform: rotate(10deg);
        }

        svg:nth-child(5) {
            right: 50px;
            bottom: 0;
            width: 20px;
            height: 20px;
            opacity: 0.3;
            transform: rotate(60deg);
        }

        svg:nth-child(6) {
            right: 10%;
            top: 30px;
            width: 20px;
            height: 20px;
            opacity: 0.5;
        }

        path,
        polygon,
        circle {
            fill: none;
            stroke: var(--mdf-color-border-brand-secondary);
            stroke-width: 2px;
        }

        feDropShadow {
            flood-color: var(--mdf-color-border-brand-secondary);
            flood-opacity: 0.3;
        }

        .star {
            path {
                stroke: var(--mdf-color-border-brand-primary);
            }

            feDropShadow {
                flood-color: var(--mdf-color-border-brand-primary);
            }
        }

        .cross {
            polygon {
                stroke: var(--mdf-color-border-success);
            }

            feDropShadow {
                flood-color: var(--mdf-color-border-success);
            }
        } */
    }
}

.content {
    animation: fade-in 0.5s 0.4s ease-out both;

    @media (prefers-reduced-motion: reduce) {
        &::-webkit-progress-value {
            animation: none;
        }
    }
}

.intro,
.checklist,
.annex,
.progress {
    width: 100%;
    max-width: 700px;
    margin: 1.5rem auto;
    padding: 0 1rem;
}

.intro {

    p+p {
        margin-top: 1rem;
    }
}

.annex {
    margin-top: 0;

    &>div>*:not(h2) {
        margin-top: 0.5rem;
    }

    table {
        margin: 0.5rem 0;
    }

    .mdf-table {
        box-shadow: 0 1px 2px var(--mdf-color-transparent-300);

        .mdf-th,
        :nth-child(even)>.mdf-td {
            background-color: var(--mdf-color-background-default);
        }
    }
}

.progress {
    margin-bottom: 0;

    label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--mdf-color-text-muted);
    }

    progress {
        appearance: none;
        -webkit-appearance: none;
        border: none;
        width: 100%;

        &::-webkit-progress-bar {
            background-color: var(--mdf-color-border-muted);
            height: 7px;
            border-radius: 2px;
        }

        &::-webkit-progress-value {
            background-color: var(--mdf-color-border-brand-primary);
            border-radius: 2px;
            transition: width 0.15s ease-in-out, background-color 0.15s ease-in-out;
        }

        @media (prefers-reduced-motion: reduce) {
            &::-webkit-progress-value {
                transition: none;
            }
        }

        &::-moz-progress-bar {
            background-color: var(--mdf-color-border-brand-primary);
            border-radius: 2px;
        }

        &.complete {
            &::-webkit-progress-value {
                background-color: var(--mdf-color-border-success);
            }

            &::-moz-progress-bar {
                background-color: var(--mdf-color-border-success);
            }
        }
    }
}

.mdf-title2,
.mdf-title3,
.mdf-title4,
.mdf-title5 {
    font-weight: 500;
}

.mdf-title2 {
    font-size: 7rem;
}

.mdf-title3 {
    font-size: 1.4rem;
}

.mdf-title4 {
    font-size: 1.3rem;
}

.mdf-link {
    border-radius: 3px;
}

.mdf-badge {
    border-radius: 3px;
}

.mdf-highlighted {
    font-weight: 600;
}

.mdf-kbd {
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid var(--mdf-color-border-default);
    background-color: var(--mdf-color-background-subtle);
    font-weight: 500;
    font-family: monospace;
}

.mdf-code-block {
    white-space: pre-wrap;
    word-break: break-word;
    border: 1px solid var(--mdf-color-border-muted);
}

.code-block-container {
    position: relative;
}

.copy-code {
    background: var(--mdf-color-background-muted);
    box-shadow: 2px 2px 0px rgb(from var(--mdf-color-border-default) r g b / calc(alpha - 0.6));
    border: 1px solid var(--mdf-color-border-default);
    font-weight: inherit;
    font-size: 0.8rem;
    padding: 3px 5px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 3px;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    &:hover {
        background: var(--mdf-color-background-default);
        box-shadow: 0px 0px 0px rgb(from var(--mdf-color-border-default) r g b / calc(alpha - 0.6));
    }
}

a.mdf-badge {
    background: var(--mdf-color-background-muted);
    border: 1px solid var(--mdf-color-border-default);
    box-shadow: none;
    color: inherit;
    text-decoration: underline;

    &:hover {
        background: var(--mdf-color-background-default);
    }

    &:focus-visible {
        outline: 2px solid var(--mdf-color-outline-default);
        outline-offset: 3px;
    }
}

.checklist {

    &>ul>li {
        display: grid;
        grid-template-columns: auto 1fr;
        position: relative;
        border: 1px solid var(--mdf-color-text-muted);
        border-radius: 3px;

        &+li {
            margin-top: 1rem;
        }

        &:has(summary:hover) {
            background-color: var(--mdf-color-background-muted);
        }

        .checkbox-container {
            padding: 1.5rem;
            grid-column: 1;
            grid-row: 1;
            display: flex;
            align-items: center;

            .checkbox {
                position: relative;
                display: flex;
                align-items: center;

                input[type="checkbox"] {
                    width: calc(1.4rem * var(--line-height));
                    height: calc(1.4rem * var(--line-height));
                    border-radius: 3px;
                    border: 1px solid var(--mdf-color-text-muted);
                    background-color: var(--mdf-color-background-default);
                    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

                    &:hover {
                        background-color: var(--mdf-color-background-muted);
                    }

                    &:checked {
                        background-color: var(--mdf-color-blue-500);
                        border-color: var(--mdf-color-blue-100);
                    }
                }


                @media (prefers-reduced-motion: reduce) {
                    input[type="checkbox"] {
                        transition: none;
                    }
                }

                &:has(input:checked) {

                    .mdf-checkbox-field:before {
                        display: none;
                    }

                    .checkbox-tick {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        pointer-events: none;
                        stroke-dasharray: 1;
                        stroke-dashoffset: 1;
                        animation: draw-tick 0.15s 0.1s ease forwards;

                        path {
                            color: white;
                            stroke-width: 1.5px;
                        }
                    }

                    @media (prefers-reduced-motion: reduce) {
                        .checkbox-tick {
                            stroke-dashoffset: 0;
                            animation: none;
                        }
                    }
                }

                &:not(:has(input:checked)) {
                    .checkbox-tick {
                        display: none;
                    }
                }
            }
        }

        &:has(input[type="checkbox"]:checked) {
            background-color: var(--mdf-color-background-brand-primary);
            border-color: var(--mdf-color-border-brand-primary);
            transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
        }

        .references {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-bottom: 1.5rem;
        }

        .section>*+* {
            margin-top: 0.5rem;
        }

        .section+.section {
            margin-top: 1.5rem;
        }
    }

    summary {
        padding: 1.5rem;
        padding-left: 0;
        cursor: pointer;

        .summary-content {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &:focus-visible {
            outline: 2px solid var(--mdf-color-outline-default);
            border-radius: 5px;
            outline-offset: 3px;
        }

        &>h2 {
            flex: 1;
        }

        &::marker {
            content: "";
        }

        .arrow {
            flex-shrink: 0;
        }

        .arrow path {
            fill: var(--mdf-color-text-muted);
            d: path("M 12.1048 16.2193 L 21.7588 6.5653 L 23.631 8.4374 L 12.1048 19.9634 L 0.5788 8.4374 L 2.451 6.5653 L 12.1048 16.2193 Z");
            transition: d 0.15s ease-in-out;
        }

        @media (prefers-reduced-motion: reduce) {
            .arrow path {
                transition: none;
            }
        }
    }

    details {
        grid-column: 2;
        grid-row: 1 / 3;
        display: grid;
        grid-template-rows: subgrid;
        grid-template-columns: subgrid;

        .details-content {
            padding: 0 1.5rem 1.5rem 0;
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
    }

    details[open] {

        &>summary .arrow path {
            d: path("M 11.8952 7.7807 L 2.2412 17.4347 L 0.369 15.5626 L 11.8952 4.0366 L 23.4212 15.5626 L 21.549 17.4347 L 11.8952 7.7807 Z");
        }
    }
}

@keyframes draw-tick {
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-height: 30rem) {
    .illustrations {
        display: none;
    }
}

@media (max-width: 50rem) {
    .illustrations {
        display: none;
    }

    .intro {
        margin-top: 0;
    }

    .header {
        min-height: 30vh;
    }

    .header .title {
        font-size: 2.5rem;
        font-weight: 500;
    }

    .header .subtitle {
        font-size: 1.2rem;
    }
}

@media (max-width: 30rem) {
    .header {
        min-height: 20vh;
    }

    .header .title {
        font-size: 1.5rem;
    }

    .header .subtitle {
        font-size: 1rem;
    }

    .intro,
    .checklist,
    .annex,
    .progress {
        padding: 0 10px;
    }

    .mdf-title3 {
        font-size: 1rem;
    }

    .checklist {
        &>ul>li .checkbox-container {
            padding: 1rem;
        }
    }

    .checklist {
        & details {
            .details-content {
                padding: 0 0.5rem 0.5rem 0;
            }
        }
    }

    .checklist summary {
        padding: 1rem;
        padding-left: 0;
    }
}

@keyframes fade-in {
    from {
        transform: translateY(200px);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }
}